<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./public/css/jass.css " />

    <title>Hey Hater! </title>
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        Luv2H8!
      </h1>
      <nav>
        <a href="/newPost" class="btn" id="new-post"> + New Post </a>
      </nav>
      <nav>
        <a href="/category" class="btn" id="category"> Category </a>
      </nav>

      <!-- Only display the logout button if the user is logged in -->
      {{#if logged_in}}
        <nav>
          <a href="/myPosts/{{user_id}}" class="btn" id="my-posts">My Posts</a>
        </nav>
        <nav>
          <button class="btn" id="logout">logout</button>
        </nav>

      {{else}}
        <nav><a href="/login" class="btn" id="login"> Login </a></nav>
      {{/if}}
    </header>

    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>

    </footer>

    <!-- Only include the logout script if the user is logged in -->
    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>