<div style="display:flex; width:100%">{{#each categories as |category|}}
    <div>

      {{! when Maya add a card pls use the following link to load the card image }}
      <img style="width: 300px;" src={{category.image}} />
      {{! Maya the below <a></a> - when we click on the acrds the below 'a' tag will open the 'focused categoryview' page }}
      <a href="/categoryPosts/{{category.id}}">{{category.name}}</a>
    </div>

  {{/each}}
</div>