<div class="columns is-multiline">
  {{#each categories as |category|}}
    <div class="column is-4">
      <a href="/categoryPosts/{{category.id}}">
        <article class="tile is-child box">
          <p class="title">{{category.name}}</p>
          <figure class="image is-4by3">
            <img src={{category.image}} />
          </figure>
        </article>
      </a>
    </div>
  {{/each}}
</div>