{{! login and sign up page }}
<div class="columns m-4">
  <div class="column is-6">
    <div class="tile is-child box login-card">
      <h2 class="title is-2 color-white">Login</h2>
      <form class="form login-form">
        <div class="field is-large">
          <label for="email-login" class="form-label">Email address</label>
          <input type="email" class="input" id="email-login" />
        </div>
        <div class="field is-large">
          <label for="password-login" class="form-label">Password</label>
          <input type="password" class="input" id="password-login" />
        </div>
        <button class="button is-danger is-large" type="submit">Login</button>
      </form>
      <form class="form" action="/auth/google" method="get">
        <button class="button is-danger is-large" type="submit">
          Sign in with Google
        </button>
      </form>
    </div>
  </div>
  <div class="column is-6">
    <div class="tile is-child box login-card">
      <h2 class="title is-2 color-white">Signup</h2>
      <form class="form signup-form">
        <div class="field is-large">
          <label for="username-signup" class="form-label">Username</label>
          <input type="text" class="input" id="username-signup" />
        </div>
        <div class="field is-large">
          <label for="email-signup" class="form-label">Email address</label>
          <input type="email" class="input" id="email-signup" />
        </div>
        <div class="field is-large">
          <label for="password-signup" class="form-label">Password</label>
          <input type="password" class="input" id="password-signup" />
        </div>
        <div class="form-group">
          <button class="button is-danger is-large" type="submit">Sign Up</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="./js/login.js"></script>