<label for="category">Choose a Category:</label>
{{! below needs to be always kept as dropdown option for category }}
<select name="category" id="category">
  {{#each categories as |category|}}
    <option value="{{category.id}}">{{category.name}}</option>
  {{/each}}
</select>